Repository npm/cli, pull requests merged in 2022-01, with the labels that each got.

#4181 feat(arborist): add `toJSON`/`toString` methods to get shrinkwrap file contents without saving
  workspaces/arborist/lib/shrinkwrap.js
  workspaces/arborist/tap-snapshots/test/shrinkwrap.js.test.cjs
  workspaces/arborist/test/shrinkwrap.js
Labels: arborist

#4223 fix: npm update --save
  docs/content/commands/npm-dedupe.md
  docs/content/commands/npm-update.md
  docs/content/using-npm/config.md
  lib/commands/dedupe.js
  lib/commands/update.js
  lib/utils/config/definitions.js
  smoke-tests/index.js
  tap-snapshots/test/lib/load-all-commands.js.test.cjs
  tap-snapshots/test/lib/utils/config/definitions.js.test.cjs
  tap-snapshots/test/lib/utils/config/describe-all.js.test.cjs
  tap-snapshots/test/lib/utils/npm-usage.js.test.cjs
  test/fixtures/mock-npm.js
  test/lib/commands/dedupe.js
  test/lib/commands/update.js
  workspaces/arborist/lib/arborist/build-ideal-tree.js
  workspaces/arborist/lib/arborist/reify.js
  workspaces/arborist/tap-snapshots/test/arborist/reify.js.test.cjs
  workspaces/arborist/test/arborist/deduper.js
  workspaces/arborist/test/arborist/reify.js
  workspaces/arborist/test/fixtures/reify-cases/workspaces-need-update.js
  workspaces/arborist/test/fixtures/workspaces-need-update/a/package.json
  workspaces/arborist/test/fixtures/workspaces-need-update/b/package.json
  workspaces/arborist/test/fixtures/workspaces-need-update/package-lock.json
  workspaces/arborist/test/fixtures/workspaces-need-update/package.json
Labels: semver:patch, Release 8.x, Release-Next, cmd:update

#4327 fix(arborist): correctly load overrides on workspace edges, closes #4205
  workspaces/arborist/lib/arborist/load-actual.js
  workspaces/arborist/test/arborist/build-ideal-tree.js
  workspaces/arborist/test/arborist/load-actual.js
Labels: ws:arborist

#4258 fix(arborist): shrinkwrap throws when trying to read a folder without permissions
  workspaces/arborist/lib/shrinkwrap.js
  workspaces/arborist/test/shrinkwrap.js
Labels: semver:patch, Release 8.x, ws:arborist
